{% extends 'base.html' %}

{% block body %}
<body class="trivia-page">
    <div class="trivia-container">
        <h1>YouTube Trivia</h1>
        <p class="subtitle">Submit A Video URL Here</p>
        <form action="submit" method="POST">                        
            <input type="text" name="video_url" placeholder="Enter YouTube Video URL" required>
            <button type="submit">Submit</button>            
        </form>
        <br>
        {% with messages = get_flashed_messages(with_categories=true)  %}
            {% if messages %}        
                {% for category, message in messages %}
                    {% if category=="api_error" %}        
                        {% for line in message %}
                            <p>{{ line }}<br></p>
                        {% endfor %}
                    {% endif %}   
                    {% if category=="error" %}
                            <p>{{ message }}</p>                        
                    {% endif %}             
                {% endfor %}                                
            {% endif %}
        {% endwith %}       
    </div>
</body>
</html>
{% endblock %}