{% extends 'base.html' %}

{% block body %}
<body class="trivia-page">
    <div class="trivia-container">
        <h1>YouTube Trivia</h1>
        <p class="subtitle">Submit URL Here</p>
        <form action="submit" method="POST">                        
            <input type="text" name="video_url" placeholder="Enter YouTube URL" required>
            <button type="submit">Submit</button>            
        </form>
        <br>
        {% with messages = get_flashed_messages()  %}
            {% if messages %}        
                {% for message in messages %}
                    {% for line in message %}
                        <p>{{ line }}<br></p>
                    {% endfor %}                
                {% endfor %}                
            {% endif %}
        {% endwith %}
    </div>
</body>
</html>
{% endblock %}